In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

plt.rcParams['font.family'] = 'Malgun Gothic'

In [6]:
df_sales = pd.read_csv('Sales_Data05.csv')
df_member = pd.read_csv('Member_Data.csv',encoding='cp949')
df_product = pd.read_csv('Product_Data.csv')

***EDA***

In [7]:
#EDA 함수 정의
def basic_eda(df, name):
    print(f"========== {name} ==========")
    print("Shape:", df.shape)
    print("Columns:", df.columns.tolist())
    print("\n[INFO]")
    print(df.info())
    print("\n[Missing Values]")
    print(df.isnull().sum())
    print("\n[Descriptive Statistics]")
    print(df.describe(include='all'))
    print("\n[Head]")
    print(df.head())
    print("\n[Tail]")
    print(df.tail())
    print("\n===============================\n")

In [8]:
print("***** Sales Data EDA *****")
basic_eda(df_sales, "Sales Data")

***** Sales Data EDA *****
========== Sales Data ==========
Shape: (668111, 12)
Columns: ['회원번호', '회원상태', '구매수량', '구매금액', '주문일시', '배송시작일', '배송완료일', '사용 적립금', '사용 포인트 네이버', '주문취소여부', '주문시간', '제품번호']

[INFO]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668111 entries, 0 to 668110
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   회원번호        668111 non-null  int64
 1   회원상태        668109 non-null  object
 2   구매수량        668111 non-null  float64
 3   구매금액        668111 non-null  int64
 4   주문일시        668111 non-null  object
 5   배송시작일       637476 non-null  object
 6   배송완료일       637476 non-null  object
 7   사용 적립금      668111 non-null  int64
 8   사용 포인트 네이버  668111 non-null  int64
 9   주문취소여부      30635 non-null   object
 10  주문시간        668111 non-null  object
 11  제품번호        668111 non-null  object
dtypes: float64(1), int64(4), object(7)
memory usage: 61.2+ MB
None

[Missing Values]
회원번호               0
회원상태               2
구매수량               0
구매금액               0
주문일시               0
배송시작일          30635
배송완료일          30635
사용 적립금             0
사용 포인트 네이버         0
주문취소여부        637476
주문시간               0
제품번호               0
dtype: int64

[Descriptive Statistics]
                회원번호    회원상태           구매수량          구매금액        주문일시  \
count   6.681110e+05  668109  668111.000000  6.681110e+05      668111
unique           NaN       4            NaN           NaN         295
top              NaN    정상회원            NaN           NaN  2021-02-14
freq             NaN  660563            NaN           NaN        5305
mean    7.405263e+08     NaN       1.192044  1.182197e+04         NaN
std     4.312590e+08     NaN       0.694327  1.704992e+04         NaN
min     1.876416e+07     NaN       0.050000  1.840000e+02         NaN
25%     3.846968e+08     NaN       1.000000  4.212000e+03         NaN
50%     7.453770e+08     NaN       1.000000  7.658000e+03         NaN
75%     1.052064e+09     NaN       1.000000  1.378400e+04         NaN
max     1.670621e+09     NaN      75.000000  2.890766e+06         NaN

             배송시작일       배송완료일         사용 적립금     사용 포인트 네이버 주문취소여부      주문시간  \
count       637476      637476  668111.000000  668111.000000  30635    668111
unique         303         307            NaN            NaN      1      1464
top     2021-02-14  2021-02-14            NaN            NaN   주문취소  오후 01:59
freq          4707        4034            NaN            NaN  30635      1206
mean           NaN         NaN     256.007189      74.555822    NaN       NaN
std            NaN         NaN    1501.949061    2723.137522    NaN       NaN
min            NaN         NaN       0.000000       0.000000    NaN       NaN
25%            NaN         NaN       0.000000       0.000000    NaN       NaN
50%            NaN         NaN       0.000000       0.000000    NaN       NaN
75%            NaN         NaN       0.000000       0.000000    NaN       NaN
max            NaN         NaN   98260.000000  251600.000000    NaN       NaN

                    제품번호
count             668111
unique              1917
top     100021783V2_1337
freq               27094
mean                 NaN
std                  NaN
min                  NaN
25%                  NaN
50%                  NaN
75%                  NaN
max                  NaN

[Head]
         회원번호  회원상태  구매수량   구매금액        주문일시       배송시작일       배송완료일  사용 적립금  \
0  1032097472  정상회원   1.0   7083  2021-01-02         NaN         NaN       0
1  1032097472  정상회원   1.0  29865  2021-01-02  2021-01-02  2021-01-02       0
2  1032097472  정상회원   1.0  23164  2021-01-02  2021-01-02  2021-01-03       0
3   369152832  정상회원   1.0  16655  2021-01-02  2021-01-02  2021-01-03       0
4  1032097472  정상회원   1.0   8423  2021-01-02         NaN         NaN       0

   사용 포인트 네이버 주문취소여부      주문시간              제품번호
0           0   주문취소  오후 12:60  100021783V2_1337
1           0    NaN  오후 12:60  100022137V2_1606
2           0    NaN  오후 12:60  100021452V2_1113
3           0    NaN  오후 12:60    10002931V2_708
4           0   주문취소  오후 12:60  100022085V2_1559

[Tail]
              회원번호  회원상태  구매수량    구매금액        주문일시       배송시작일       배송완료일  \
668106  1523874368  정상회원   1.0  166554  2021-10-19  2021-10-20  2021-10-20
668107   402835520  정상회원   1.0   12635  2021-10-23  2021-10-23  2021-10-24
668108   402835520  정상회원   1.0    7849  2021-10-23  2021-10-23  2021-10-23
668109  1544381312  정상회원   1.0    7275  2021-10-27  2021-10-27  2021-10-28
668110   413164160  정상회원   2.0   20676  2021-10-30  2021-10-30  2021-11-01

        사용 적립금  사용 포인트 네이버 주문취소여부      주문시간              제품번호
668106       0           0    NaN  오전 01:00  100022543V2_1912
668107       0           0    NaN  오전 01:00    10002432V2_327
668108       0           0    NaN  오전 01:00  100022317V2_1725
668109    6270           0    NaN  오전 01:00    10002723V2_563
668110       0           0    NaN  오전 01:00  100021783V2_1337

===============================

In [9]:
print("***** Member Data EDA *****")
basic_eda(df_member, "Member Data")

***** Member Data EDA *****
========== Member Data ==========
Shape: (12540, 10)
Columns: ['Unnamed: 0', '회원번호', '회원상태', '성별', '나이', '등록카드', '결혼', '구독여부', '주소지', '세부주소지']

[INFO]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12540 entries, 0 to 12539
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12540 non-null  int64
 1   회원번호        12540 non-null  int64
 2   회원상태        12539 non-null  object
 3   성별          12539 non-null  object
 4   나이          12540 non-null  int64
 5   등록카드        12525 non-null  object
 6   결혼          9823 non-null   object
 7   구독여부        10194 non-null  object
 8   주소지         12537 non-null  object
 9   세부주소지       12531 non-null  object
dtypes: int64(3), object(7)
memory usage: 979.8+ KB
None

[Missing Values]
Unnamed: 0       0
회원번호             0
회원상태             1
성별               1
나이               0
등록카드            15
결혼            2717
구독여부          2346
주소지              3
세부주소지            9
dtype: int64

[Descriptive Statistics]
          Unnamed: 0          회원번호   회원상태     성별            나이   등록카드    결혼  \
count   12540.000000  1.254000e+04  12539  12539  12540.000000  12525  9823
unique           NaN           NaN      4      2           NaN     24     2
top              NaN           NaN   정상회원      여           NaN   롯데카드    기혼
freq             NaN           NaN  12380  11794           NaN   1791  5159
mean     6269.500000  8.188567e+08    NaN    NaN     41.689633    NaN   NaN
std      3620.130523  4.412428e+08    NaN    NaN     11.541470    NaN   NaN
min         0.000000  1.876416e+07    NaN    NaN     18.000000    NaN   NaN
25%      3134.750000  4.623983e+08    NaN    NaN     33.000000    NaN   NaN
50%      6269.500000  7.758692e+08    NaN    NaN     39.000000    NaN   NaN
75%      9404.250000  1.174003e+09    NaN    NaN     48.000000    NaN   NaN
max     12539.000000  1.670621e+09    NaN    NaN    100.000000    NaN   NaN

         구독여부    주소지  세부주소지
count   10194  12537  12531
unique      2     21    215
top     False    경기도     서구
freq     8441   2282    434
mean      NaN    NaN    NaN
std       NaN    NaN    NaN
min       NaN    NaN    NaN
25%       NaN    NaN    NaN
50%       NaN    NaN    NaN
75%       NaN    NaN    NaN
max       NaN    NaN    NaN

[Head]
   Unnamed: 0      회원번호  회원상태 성별  나이   등록카드   결혼   구독여부    주소지 세부주소지
0           0  18764160  정상회원  여  68  농협중앙회   기혼  False  서울특별시   성동구
1           1  18792000  정상회원  남  83  연결앱결제  NaN  False    강원도   강릉시
2           2  18942336  정상회원  여  39   신한은행   기혼  False  인천광역시    중구
3           3  18949760  정상회원  여  73   기업은행  NaN    NaN    강원도   홍천군
4           4  19391488  정상회원  여  52  연결앱결제   기혼  False  대전광역시    중구

[Tail]
       Unnamed: 0        회원번호  회원상태 성별   나이   등록카드   결혼   구독여부    주소지 세부주소지
12535       12535  1644957952  정상회원  여   34   신한은행   미혼  False  부산광역시    중구
12536       12536  1645334720  정상회원  남   24   국민카드   미혼  False   전라남도   여수시
12537       12537  1670400000    탈퇴  남   28  연결앱결제  NaN  False  대구광역시    북구
12538       12538  1670606016  정상회원  남   19   하나은행   미혼    NaN   경상남도   밀양시
12539       12539  1670620864  정상회원  남  100   우리은행   기혼    NaN  대구광역시    북구

===============================

In [10]:
print("***** Product Data EDA *****")
basic_eda(df_product, "Product Data")

***** Product Data EDA *****
========== Product Data ==========
Shape: (2549, 5)
Columns: ['제품번호', '물품명', '물품대분류', '물품중분류', '상품중량']

[INFO]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품번호    2549 non-null   object
 1   물품명     2549 non-null   object
 2   물품대분류   2549 non-null   object
 3   물품중분류   2549 non-null   object
 4   상품중량    2330 non-null   object
dtypes: object(5)
memory usage: 99.7+ KB
None

[Missing Values]
제품번호       0
물품명        0
물품대분류      0
물품중분류      0
상품중량     219
dtype: int64

[Descriptive Statistics]
              제품번호            물품명  물품대분류 물품중분류  상품중량
count         2549           2549   2549  2549  2330
unique        2549           1917     59   384   952
top     100021V2_0  오가닉코튼 여성용 레깅스  식기/편백  냉동생선  300g
freq             1             11    203    64   146

[Head]
         제품번호      물품명  물품대분류   물품중분류       상품중량
0  100021V2_0    2단무늬컵  식기/편백      자기         1p
1  100022V2_1  7곡딸기롤과자     과자      스낵  100g/10개입
2  100023V2_2     7곡참식   식사대용   선식/생식       700g
3  100024V2_3      가리비   생물수산  패류/갑각류      1.5kg
4  100025V2_3      가리비   생물수산  패류/갑각류        1kg

[Tail]
                  제품번호     물품명 물품대분류  물품중분류   상품중량
2544  100022545V2_1913  흑임자구름떡     떡    즉석떡   180g
2545  100022546V2_1914  흑임자인절미     떡    즉석떡   150g
2546  100022547V2_1915    흑토마토  과일채소  완숙토마토    1kg
2547  100022548V2_1915    흑토마토  과일채소  완숙토마토  1kg/소
2548  100022549V2_1916    흰밀가루    가루   곡식가루    1kg

===============================

***재구매율***

In [13]:
# 1. '주문일시' 열을 날짜 형식으로 변환
df_sales['주문일시'] = pd.to_datetime(df_sales['주문일시'])

# 2. 각 주문마다 구매횟수를 1로 표시 (새로운 열 추가)
df_sales['구매횟수'] = 1

# 3. 회원번호와 제품번호별 구매 횟수를 pivot_table을 이용해 집계
customer_order_count = df_sales.pivot_table(
    index=['회원번호', '제품번호'],
    values='구매횟수',
    aggfunc='sum'
)

# 4. 각 회원(고객)별로 동일 제품을 2회 이상 구매한 경우가 있는지 확인
#    (groupby의 level='회원번호'를 이용하여 그룹별로 판단)
repurchase_flag = customer_order_count.groupby(level='회원번호')['구매횟수'].apply(lambda s: (s > 1).any())

# 5. 재구매 고객 수와 전체 고객 수 계산
repurchase_customers = repurchase_flag.sum()   # True의 개수 = 재구매 고객 수
total_customers = repurchase_flag.shape[0]

# 6. 재구매율 계산 (백분율)
repurchase_rate = repurchase_customers / total_customers * 100

# 결과 출력
print(f"전체 고객 수: {total_customers}")
print(f"재구매 고객 수: {repurchase_customers}")
print(f"재구매율: {repurchase_rate:.2f}%")

전체 고객 수: 12540
재구매 고객 수: 7997
재구매율: 63.77%

***고객 이탈률***

In [14]:
# 1. 전체 고객 수 (회원번호 기준)
total_customers = df_member['회원번호'].nunique()

# 2. 활동 고객 수: 회원상태가 '정상회원'인 경우
active_customers = df_member[df_member['회원상태'] == '정상회원']['회원번호'].nunique()

# 3. 이탈 고객 수: '정상회원'이 아닌 고객을 이탈 고객으로 판단
churned_customers = total_customers - active_customers

# 4. 고객 이탈률 계산 (백분율)
churn_rate = (churned_customers / total_customers) * 100

print("총 고객 수:", total_customers)
print("이탈 고객 수:", churned_customers)
print(f"고객 이탈률: {churn_rate:.2f}%")

총 고객 수: 12540
이탈 고객 수: 160
고객 이탈률: 1.28%

***배송 지연율***

In [15]:
# 1. 배송 관련 날짜 컬럼을 datetime 형식으로 변환 (에러 발생 시 NaT 처리)
df_sales['배송시작일'] = pd.to_datetime(df_sales['배송시작일'], errors='coerce')
df_sales['배송완료일'] = pd.to_datetime(df_sales['배송완료일'], errors='coerce')

# 2. 배송 완료 정보를 가진 유효 주문만 선택 (취소 주문 및 날짜 미입력 주문 제외)
valid_deliveries = df_sales.dropna(subset=['배송시작일', '배송완료일']).copy()

# 3. 배송 기간(일수) 계산: 배송완료일 - 배송시작일
valid_deliveries['배송기간'] = (valid_deliveries['배송완료일'] - valid_deliveries['배송시작일']).dt.days

# 4. 배송 지연 기준 설정: 예시에서는 배송기간이 1일을 초과하면 지연으로 판단
threshold_days = 1

# 5. 지연 배송 건수 산출: 배송기간이 기준 초과인 주문
delayed_deliveries = valid_deliveries[valid_deliveries['배송기간'] > threshold_days]

# 6. 배송 지연율 계산
delay_rate = (len(delayed_deliveries) / len(valid_deliveries)) * 100

# 결과 출력
print("전체 배송 건수:", len(valid_deliveries))
print("지연 배송 건수:", len(delayed_deliveries))
print(f"배송 지연율: {delay_rate:.2f}%")

전체 배송 건수: 637476
지연 배송 건수: 97067
배송 지연율: 15.23%